<!DOCTYPE html>
<html>
  <head>
    <title> Running With Data </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudfare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
      html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
      .mySlides{display:none}
      .w3-tag, .fa{cursor:pointer}
      .w3-tag{height:15px;width:15px;padding: 0;margin-top: 6px}
    </style>
  </head>
  <body>
    <!--Top Bar-->
    <div class="w3-top">
      <div class="w3-row w3-large w3-light-grey">
        <div class="w3-col s3">
          <a href="#" class="w3-button w3-block">
            <i class="fa fa-home w3-xxlarge">

            </i>
            <p>Home</p>
          </a>
        </div>
        <div class="w3-col s3">
          <a href="/Runners.html" class="w3-button w3-block">
            <i class="fa fa-users w3-xxlarge">

          </i>
            <p>Runners</p>
          </a>
        </div>
        <div class="w3-col s3">
          <a href="#" class="w3-button w3-block">
            <i class="fa fa-map w3-xxlarge">

            </i>
            <p>Race</p>
          </a>
        </div>
        <div class="w3-col s3">
          <a href="#" class="w3-button w3-block">
            <i class="fa fa-line-chart w3-xxlarge">
          </i>
            <p>Statistics</p>
          </a>
        </div>
        <div class="w3-col s3">
          <a href="#" class="w3-button w3-block">
            <i class="fa fa-question-circle w3-xxlarge">
          </i>
            <p>About</p>
          </a>
        </div>
