{% extends 'RunnerBase.html' %}
{% block Name %}
  {{ RunnerName }}
{% endblock %}
{% block content %}
  <div class="content">
    <div class="w3-container w3-row">
    <div class="w3-col s4">
      <div class="Runner-Card">
        <div class="image">
          <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&amp;fm=jpg&amp;h=300&amp;q=75&amp;w=400" alt="...">
        </div>
        <div class="CardBody">
          <img src="https://cdn.iconscout.com/public/images/icon/premium/png-512/avatar-boss-ceo-chief-male-man-officer-3a130e64fffeaa3f-512x512.png" class="w3-circle w3-margin-right" style="width:55px">
          <h5>Place Name<h5>
            <p class="description">RunnerID</p>
            <p class="desctiptionagain" style="text-align:center">
              Here info
              <br>
              Male, Age
              <br>
              D.O.B
              <br>
              etc
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
